
body {
    background-color: #0B1215;
    color: #F0F0EC;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    @font-face {
        font-family: "Comfortaa", sans-serif;
        src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
    }
}

header h1 {
    color: #FFD700;
    margin-top: 20px;
    @font-face {
        font-family: "Comfortaa", sans-serif;
        src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
    }
}

section.bio p {
    color: #FF0000;
    font-size: 1.2rem;
    @font-face {
        font-family: "Comfortaa", sans-serif;
        src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
    }    
}

.links .bin {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    color: #F0F0EC;
    background-color: #FF0000;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3ms ease;
    @font-face {
        font-family: "Comfortaa", sans-serif;
        src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
    }
}

.links .btn:hover {
    background-color: #FFD700;
    @font-face {
        font-family: "Comfortaa", sans-serif;
        src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
    }
}